*:focus {
    outline: 0;
    outline: none;
}

.flash_messages{
  position: absolute;
  top: 20px;
  z-index: 99;
  width: 50%;
  left:50%;
  margin-left:-25%;
}

.flash_messages button.close, .top-right button.close {
  font-size: 20px;
}



/* UPLOAD PHOTO */
input[type=file]{
    width: 180px;
    height: 43px;
    line-height: 36px;
    outline: 0;
    outline: none;
}

input:focus, .custom-file-input:focus {outline:none;}

.custom-file-input::before {
  content: 'PHOTO';
  display: inline-block;
  background: -webkit-linear-gradient(top, #8D8D8D, #8D8D8D);
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 15px;
  width: 180px;
  text-align: center;
  outline: 0;
  outline: none;
    height: 43px;
      line-height: 36px;
}

.perfil .wrapper_foto {
    width: 180px;
}

.user-list-item a.active, 
.canjes.validar .llista_comanda>div>div a.active{
  color: #b32323;
}

.back_button{
  position: absolute;
  top: 20px;
  left: 30px;
  color: #fff;
  text-transform: uppercase;
  
}

.top-right{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
}